body {
    text-align: center;
}


.char-select {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
}
.char-select div {
    margin: 15px;
    height: 150px;
    width: 100px;
}

.char-select .play-1 {
    background-image: url('../images/char-boy.png');
}

.char-select .play-2 {
    background-image: url('../images/char-cat-girl.png');
}

.char-select .play-3 {
    background-image: url('../images/char-horn-girl.png');
}

.chosen {
    border: 1px solid black;
}